@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font1)
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
    --font1: 'Kanit', sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Handlee', cursive;
    --font4: 'Caveat', cursive;
    --font5: 'Patrick Hand SC', cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
}

h1 {
    font-family: var(--font2);
    font-weight: 400;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5em;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 40vh;
    padding-bottom: 40vh;
    padding-left: 40px;
}

section p {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: var(--font5);
    line-height: 2em;
    font-weight: 400;
    font-size: 2em;
}

.normal {
    background-color: #e6cdcd;
}

.normal p {
    background-color: #000000c0;
}

.imagem {
    background-color: rgb(48, 48, 48);
    box-shadow: inset 6px 6px 13px 0px #0000007a;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagem p {
    background-color: #00000080;
}

mark {
    font-family: var(--font5);
    background-color: rgba(38, 221, 221, 0.726);
    border-radius: 5px;
    color: #000000;
    padding: 8px;
}

section#img01 {
    background-image: url("imagens/space.jpg");
    background-position: center center;
}

section#img02 {
    background-image: url("imagens/black-white-11.jpg");
    background-position: center center;
}

section#img03 {
    background-image: url("imagens/manoel-de-barros-1.jpg");
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}